$color-white: #ffffff;

$color-gray-25: #f2f4f7;
$color-gray-50: #eaecf0;
$color-gray-75: #d0d5dd;
$color-gray-100: #98a2b3;
$color-gray-125: #667085;
$color-gray-150: #475467;
$color-gray-175: #344054;
$color-gray-200: #101828;

$color-green-25: #edfcf2;
$color-green-50: #d1fadf;
$color-green-75: #73e2a3;
$color-green-100: #12b76a;
$color-green-125: #099250;
$color-green-150: #087443;

$color-red-25: #fda29b;
$color-red-50: #f04438;
