@use '@/app/styles/colors' as *;
@use '@/app/styles/utils' as *;

@mixin common-dots {
  background: $color-gray-200;
  opacity: 24%;
  border-radius: 4px;
}

.goalCardProgressDots {
  @include flex-container;
}

.rectangle {
  @include common-dots;
  width: 32px;
  height: 8px;
}

.circle {
  @include common-dots;
  width: 8px;
  height: 8px;
}

.fill {
  opacity: 1;
}
