@use '@/styles/colors' as *;
@use '@/styles/utils' as *;
@use '@/styles/fonts' as *;
@use '@/styles/typography' as *;

.appContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 600px;
  gap: 32px;
}

.formSection {
  display: grid;
  grid-template-rows: 56px 1fr;
  gap: 16px;

  .formSectionTitle {
    font-family: $second-font-family;
    @include h2;
    @include fluid-text($min-size: $font-size-w, $max-size: $font-size-xl);

    color: $accent-800;
    padding: 0 0 12px;
    letter-spacing: -0.02em;
    border-bottom: 1px solid $accent-200;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;

    .text {
      color: $accent-500;
      @include fluid-text($min-size: $font-size-w, $max-size: $font-size-xl);
    }
  }
}

.form {
  display: grid;
  grid-auto-rows: 66px 66px 288px 60px;
  gap: 16px;

  .formRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .formCounter {
    @include regular-14;
    color: $accent-600;
  }

  .formCounterError {
    color: $danger;
  }
}

@media screen and (width < 1024px) {
  .appContainer {
    grid-template-columns: minmax(360px, auto);
    grid-auto-columns: minmax(360px, auto);
    grid-template-rows: minmax(360px, auto);
    height: fit-content;

    gap: 16px;
    place-items: center;
  }
}
@media screen and (width < 568px) {
  .formSection {
    grid-template-columns: 1fr;
    min-width: 360px;
    width: 100%;
  }

  .form {
    grid-template-columns: minmax(360px, auto);
    grid-template-rows: 140px 66px 288px 60px;

    .formRow {
      grid-template-columns: minmax(360px, auto);
      grid-template-rows: 60px 60px;
      gap: 16px;
    }
  }
}
