.goalCardButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  cursor: pointer;
  transition:
    background 0.2s ease,
    transform 0.1s ease;

  &:active {
    transform: translateY(1px);
  }

  .buttonText {
    font-size: 18px;
    font-weight: 600;
  }

  .iconPosition {
    display: flex;
    align-items: center;
  }
}
.large {
  width: 190px;
}

.small {
  width: 151px;
}

.primary {
  background: #087443;
  color: #ffffff;
  border: 1px solid #087443;
  padding: 16px 28px;

  &:hover {
    background: #14532d;
  }
}

.transparent {
  width: fit-content;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #475467;

  .buttonText {
    font-size: 16px;
  }
}

.sm {
  gap: 8px;
}

.md {
  gap: 12px;
}
