.wrapper {
  position: relative;
  max-width: 552px;
  width: 100%;

  padding: 24px;
  background-color: #f2f4f7;
  border-radius: 12px;
}

.copyToClipboard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;

  font-weight: 600;
  font-size: 16px;
  color: #475467;

  cursor: pointer;
}

.previewCardHeading {
  position: relative;
  color: #667085;

  font-size: 18px;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 16px;

  height: 197px;
  overflow: hidden;

  &.expanded {
    min-height: 240px;
    height: 560px;
  }

  & > p {
    text-align: start;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(242, 244, 247, 0) 0%, #f2f4f7 100%);
  }

  &.expanded::after {
    display: none;
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.expanded {
    justify-content: flex-end;
  }
}
