@use 'fonts' as *;
@use 'typography' as *;

html {
  scrollbar-gutter: stable;
  box-sizing: border-box;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 120px;

  font-family: $font-family;
}

svg:not([data-static='true']) [fill]:not([fill='none'], [fill^='url']) {
  fill: currentcolor;
}

svg:not([data-static='true']) [stroke]:not([stroke='none'], [stroke^='url']) {
  stroke: currentcolor;
}

svg * {
  transition-property: fill, stroke;
}
