$white: #ffffff;

$accent-100: #f2f4f7;
$accent-200: #eaecf0;
$accent-300: #d0d5dd;
$accent-400: #98a2b3;
$accent-500: #667085;
$accent-600: #475467;
$accent-700: #344054;
$accent-800: #101828;

$success-100: #edfcf2;
$success-200: #73e2a3;
$success-300: #087443;
$success-400: #099250;
$success-500: #12b76a;
$success-600: #d1fadf;

$danger: #f04438;
