@use './colors' as *;

*::-webkit-scrollbar {
  width: 4px;
  height: 160px;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: $accent-600;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
