/* globals */
$font-family: 'Fixel Text', system-ui, sans-serif;
$second-font-family: 'Fixel Display', system-ui, sans-serif;

/* font-sizes */
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-w: 20px;
$font-size-xl: 36px;
$font-size-xxl: 48px;

/* line-heights */
$line-height-s: 20px;
$line-height-m: 28px;
$line-height-l: 44px;
$line-height-xl: 60px;

/* font-weights */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
