@mixin root-container() {
  width: min(1130px, 100%);
  height: 100%;
  margin: 0 auto;
  padding-inline: 5px;
}

@mixin flex-container($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;

  gap: $gap;
}

@mixin fluid-text($min-size, $max-size, $min-width: 320px, $max-width: 1920px) {
  $slope: ($max-size - $min-size) / ($max-width - $min-width);
  $y-axis: $min-size - $slope * $min-width;
  $preferred: #{percentage($slope)} + #{$y-axis};

  font-size: clamp(#{$min-size}, #{$preferred}, #{$max-size});
}
