.applicationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 24px;
}

@media screen and (width < 768px) {
  .applicationContainer {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    place-items: center;
  }
}
