@use '@/styles/colors' as *;
@use '@/styles/utils' as *;
@use '@/styles/typography' as *;
@use '@/styles/fonts' as *;

.wrapper {
  position: relative;
  max-width: 552px;
  width: 100%;

  padding: 24px;
  background-color: $accent-100;
  border-radius: 12px;
}

.copyToClipboard {
  @include flex-container($justify: flex-end, $align: center);
  //display: flex;
  //justify-content: flex-end;
  //align-items: center;
  width: 100%;
  height: 100%;

  @include semi-bold-16;
  color: $accent-600;

  cursor: pointer;
}

.previewCardHeading {
  position: relative;
  color: $accent-500;

  font-size: $font-size-l;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 16px;

  height: 197px;
  overflow: hidden;

  &.expanded {
    min-height: 240px;
    height: 560px;
  }

  & > p {
    text-align: start;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(242, 244, 247, 0) 0%, $accent-100 100%);
  }

  &.expanded::after {
    display: none;
  }
}

.buttonWrapper {
  @include flex-container($justify: space-between);
  //display: flex;
  //align-items: center;
  //justify-content: space-between;

  &.expanded {
    justify-content: flex-end;
  }
}
