@use '@/styles/utils' as *;
@use '@/styles/colors' as *;
@use '@/styles/typography' as *;
@use '@/styles/fonts' as *;

.goalCardButton {
  @include flex-container();
  padding: 16px 28px;
  border-radius: 6px;
  cursor: pointer;
  transition:
    background 0.2s ease,
    transform 0.1s ease;

  &:active {
    transform: translateY(1px);
  }

  .iconPosition {
    @include flex-container();
  }
}
.large {
  width: min(190px, 100%);
  height: 60px;

  .buttonText {
    @include semi-bold-18;
  }
}

.small {
  font-family: $font-family;
  width: min(151px, 100%);
  padding: 10px 18px;
  .buttonText {
    @include semi-bold-16;
    line-height: 0;
  }
}

.primary {
  background: $success-300;
  color: $white;
  border: 1px solid $success-300;

  &:hover {
    background: #14532d;
  }

  .buttonText {
    line-height: 1.45;
    transform: translateY(1px);
  }
}

.disabled {
  pointer-events: none;
  border: 1px solid $accent-300;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  background: $accent-300;

  @include semi-bold-18;
  line-height: 156%;
  color: $accent-400;
}

.transparent {
  width: fit-content;
  background-color: transparent;
  border: none;
  @include semi-bold-16;
  color: $accent-600;
  padding: 10px;
  .buttonText {
    transform: translateY(2px);
    height: 100%;
    font-size: $font-size-m;
    line-height: 1;
  }
}

.iconic {
  border: 1px solid $accent-300;
  padding: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  background: $white;
  line-height: 0;
}

.sm {
  gap: 8px;
}

.md {
  gap: 12px;
}

.fullWidth {
  width: 100%;
}
