@use '@/styles/colors' as *;
@use '@/styles/utils' as *;
@use '@/styles/typography' as *;
@use '@/styles/fonts' as *;

.wrapper {
  position: relative;
  max-width: 552px;
  width: 100%;

  padding: 24px;
  background-color: $accent-100;
  border-radius: 12px;
}

.copyToClipboard {
  @include flex-container($justify: flex-end, $align: center);
  width: 100%;
  height: 100%;

  @include semi-bold-16;
  color: $accent-600;

  cursor: pointer;
}

.previewCardHeading {
  position: relative;
  color: $accent-500;

  font-size: $font-size-l;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 16px;

  height: 197px;
  overflow: hidden;

  &.expanded {
    min-height: 240px;
    height: 512px;
    overflow: scroll;
  }

  .loading {
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    animation: spin 1s linear infinite;
  }

  & > p {
    text-align: start;
    margin-bottom: 33px;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(242, 244, 247, 0) 0%, $accent-100 100%);
  }

  &.expanded::after {
    display: none;
  }
}

.buttonWrapper {
  @include flex-container($justify: space-between);

  height: 24px;
  &.expanded {
    justify-content: flex-end;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (width < 568px) {
  .previewCardHeading {
    &.expanded {
      min-height: 240px;
      height: 350px;
      overflow: scroll;
    }
  }
}
