@use '@/styles/colors' as *;
@use '@/styles/fonts' as *;
@use '@/styles/utils' as *;

@mixin commonFocus {
  border: 1px solid $success-200;
  box-shadow:
    0 0 0 4px #d3f8df,
    0 1px 2px 0 rgba(16, 24, 40, 0.05);
  outline: none;
}

@mixin commonPlaceholder {
  @include regular-14;
  color: $accent-500;
}

@mixin commonFont {
  @include regular-14;
  line-height: 150%;
  color: $accent-800;
}

.field {
  & label {
    display: inline-block;
    @include medium-14;
    color: $accent-700;
    margin-bottom: 6px;
  }
}

.textareaWrapper {
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    height: 10px;
    background: white;
    pointer-events: none;
    z-index: 2;
  }

  &::before {
    top: 29px;
    border-bottom: 1px solid transparent;
  }

  &::after {
    bottom: 5px;
    border-top: 1px solid transparent;
  }
}

.input {
  border: 1px solid $accent-300;
  border-radius: 6px;
  padding: 8px 12px;
  width: 264px;
  height: 40px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  background: $white;

  @include commonFont;

  vertical-align: middle;
  align-content: center;
  line-height: 1;

  &:focus {
    @include commonFocus;
  }

  &::placeholder {
    @include commonPlaceholder;
  }
}

.textarea {
  border: 1px solid $accent-300;
  border-radius: 8px;
  padding: 12px 14px;
  width: 544px;
  height: 236px;
  background: $white;
  resize: none;

  @include commonFont;

  &:focus {
    @include commonFocus;
  }

  &::placeholder {
    @include commonPlaceholder;
  }
}

.fullWidth {
  width: 100%;
}

.error {
  border: 1px solid $danger;
}
