@mixin commonFocus {
  border: 1px solid #73e2a3;
  box-shadow:
    0 0 0 4px #d3f8df,
    0 1px 2px 0 rgba(16, 24, 40, 0.05);
  outline: none;
}

@mixin commonPlaceholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #667085;
}

@mixin commonFont {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
}

.field {
  & label {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #344054;
    margin-bottom: 6px;
  }
}

.input {
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  padding: 8px 12px;
  width: 264px;
  height: 40px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  background: #fff;

  @include commonFont;

  &:focus {
    @include commonFocus;
  }

  &::placeholder {
    @include commonPlaceholder;
  }
}

.textarea {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 12px 14px;
  width: 544px;
  height: 236px;
  background: #fff;
  resize: none;

  @include commonFont;

  &:focus {
    @include commonFocus;
  }

  &::placeholder {
    @include commonPlaceholder;
  }
}

.fullWidth {
  width: 100%;
}
